body{
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

/******************************************
Navegação*/

header{
    background-color: #3a4553;
}

.navbar ul{
    list-style: none;
}

.nav-link {
    text-decoration: none;
    color: #e1ffff;
    cursor: pointer;
    font-size: 15px;
    border-left: 1px solid black;
    padding: 15px 20px;
}

.primeiro{
    border: none;
}

.ativo {
    border-left: 3px solid #e1ffff;
    background-color: #4f5b69;
    color: #ffffff;
    border-radius: 5px;
}

.nav-link:hover {
    border-left: 3px solid #e1ffff;
    background-color: #4f5b69;
    color: #ffffff;
    border-radius: 5px;
    text-decoration: none;
}

.logoff{
    color: red;
}

.nav-item .logoff:hover{
    border-left: 3px solid red;
    background-color: #694f4f;
    color: #ffffff;
    border-radius: 5px;
    text-decoration: none;
}

.navbar .navbar-toggler i{
    color: white;
    font-size: 30px;
    border: 1px solid #20262c;
    border-radius: 5px;
    padding: 10px;
    transition: .5s;
}

.virado{
    transform: rotate(90deg);
    transition: .5s;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}

@media(max-width: 992px){
    .nav-link {
        border-left: none;
    }

    .ativo {
        border-left: 3px solid #e1ffff;
        background-color: #4f5b69;
        color: #ffffff;
        border-radius: 5px;
    }
}

/************************************************
Criar formulário*/
section.container{
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.452);
}

.display-4{
    font-size: 35px !important;
}

label{
    font-weight: 600;
    font-size: 18px;
}

legend{
    color: #4f5b69;
    font-size: 30px;
}

.form-group{
    margin-bottom: 5px;
}

/****************************************************
Index/ tela de login*/
#pagina{
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    background: linear-gradient(to bottom, #5e7086, #4f5b69);
}

#login-container{
    position: absolute;
    background: #f6f6f6;
    align-self: center;
    width: 550px;
    padding: 20px;
}

@media(max-width: 576px){

    #login-container{
        width: 100%;
    }
}

#login-body label {
    font-size: 15px;
    font-weight: 600;
    color: lightslategray;
    margin-bottom: -5px;
}

/*******************************************
Consultar projetos*/

.titulo-projeto{
    color: #4f5b69;
    font-size: 30px;
}
